:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0; 
}

* {
  box-sizing: border-box;
}

header {
  padding: 10px 20px;
  background: #fff;
}

header nav {
  display: flex;
  gap: 10px;
}

header nav button {
  border: none;
  outline: none;
  border-radius: 5px;
}

header nav button:has(a.active) {
  background: #000;
}

header nav button a {
  color: #fff;
  padding: 7px 20px;
  display: block;
  text-decoration: none;
}

header nav button a.active {
  cursor: default;
  pointer-events: none;
}

main {
  margin-top: 60px;
  padding: 0 20px;
}

.auth form {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth form input {
  padding: 7px 10px;
}

.auth form button {
  padding: 7px 10px;
  cursor: pointer;
}

.auth .change-type {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.auth .change-type:hover {
  border-bottom-color: #ddd;
  color: #ddd;
}

